data/*
*~
*.class
nohup.out

sentiment-analysis/files
#report.aux
#report.log
#report.pdf
#report.out



# here I reinclude some example files that are useful (and small)
!data/example.tweet
!data/twitter.graph
